.caught-date {
    background-color: red;
  }

  .clendar-title{
    color: black;
    text-align: center;
    margin-bottom: 2vw;
  }

  .calendar-size{
    width: 100vw;
  }
  .calendar-container{
    height: 100vh;
    background-color: rgb(254, 248, 240);
  }