* {
    margin: 0;
    box-sizing: border-box;
}

.form-container {
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../assets/create-event-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.create-event-form {
    width: 30rem;
    height: 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
}

.names-couple {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 2vw;
}

.date-event {
    display: flex;
    align-items: center;
}

.link-to-chose-date {
    height: 4vw;
    display: flex;
    align-items: end;
    margin-left: 1vw;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    height: 10vw;
    justify-content: space-around;
}

.responsive-input {
    width: 10rem;
}

.chose-date-input {
    width: 10rem;
}

.save-button {
    background-color: green;
    color: white;
    border-radius: 20%;
    width: 3rem;
    height: 2rem;
    border-style: none;
}

.save-button:hover {
    background-color: rgba(0, 128, 0, 0.776);
    color: rgb(209, 209, 209);
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #f01c1c65;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #e64343;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #de3939;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #f01c1c65;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

@media screen and (max-width: 500px) {
    .create-event-form {
        width: 15rem;
        height: 25rem;

    }

    .names-couple {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40vw;
    }

    .date-event {
        display: flex;
        flex-direction: column;
    }

    .link-to-chose-date {
        margin-top: 3vw;
    }

    .save-button {
        margin-top: 1rem;
    }

}

@media screen and (max-width: 345px){
    .names-couple {
        height: 50vw;
    }

    .link-to-chose-date {
        margin-top: 3.5vw;
    }

    .save-button {
        margin-top: 1.5rem;
    }

    .cta{
        margin-top: 2.5rem;
    }
}