* {

    margin: 0;
    box-sizing: border-box;
}

.home-page-container {
  
}


.left-pair::after {
  content: '';
  display: block;
  position: relative;
  width: 5vw;
  border-top: 1px dashed #8b8b98;
  bottom: 40%;
  left: 89%;

}

.home-page-image {
  height: 45vw;
  background-image: url('https://w0.peakpx.com/wallpaper/173/355/HD-wallpaper-just-married-married-people-happiness-love-man-woman-couple.jpg');
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-text {
  font-family: 'Alkatra', cursive;
  font-size: 1.2vw;
  text-shadow: 0px 0px 100px rgb(50, 50, 50);
  color: white;
}

.image-text>h1 {
  display: flex;
  justify-content: center;
}

.time-line {
  display: flex;
  height: 120vw;
  width: 90vw;
  background-color: rgb(254, 248, 240);
  

}

.time-line::before {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    height: 120vw;
    border-right: 1px dashed #8b8b98;
    /* width: 1px; */
    /* background-color: rgb(61, 61, 61); */
}




.time-line-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

}

.time-line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5vw;
}



.boxes-father {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, 45vw);
  grid-template-rows: repeat(2, 60vw);
}

.box-details {
  width: 40vw;
  height: 45vw;

}

.right-pair {
  margin-top: 15vw;
  display: flex;
  justify-content: flex-end;
}


.right-pair-line::before{
  content: '';
  display: block;
  position: relative;
  width: 5vw;
  height: 0.1vw;
  border-top: 1px dashed #8b8b98;
  bottom: -50%;
  right:0%;
 
}


.image-time-line {
  width: 40vw;
}

.content-time-line {
  background-color: rgba(205, 187, 178, 0.765);
  border-style: solid;
  border-radius: 10px;
  margin-top: 1vw;
  margin-left: 1vw;
  height: fit-content;

}

.content-title {
  padding-left: 5px;
  font-family: 'Alkatra', cursive;
}

.content-paragraph {
  padding-left: 5px;
  font-family: 'Architects Daughter', cursive;
}

.button-link {
  display: flex;
  justify-content: end;
}


.link-more {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 8vw;
  height: 5vh;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link-more:hover {
  background-color: rgb(254, 248, 240);
}

.image-couple {
  width: 8vw;
  height: 9vw;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about-us-section {
  width: 100vw;
  background-color: rgb(254, 248, 240);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-us-header {
  margin-top: 4vw;
  margin-bottom: 2vw;
  font-family: 'Architects Daughter', cursive;

}

.about-us-content {
  width: 60vw;
  height: fit-content;
  /* border-style: solid;
  border-radius: 10px; */
  text-align: center;
  margin-bottom: 1vw;
  font-size: 1vw;
  padding: 1vw;
  font-family: 'Architects Daughter', cursive;
}



#top-button {
  width: 140px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: black;
  background: none;
  position: relative;
  padding-bottom: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

#top-button>div,
#top-button>svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

#top-button:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;

}

#top-button:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;

}

#top-button .clone>*,
#top-button .text>* {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

#top-button .clone>* {
  transform: translateY(60px);
}

#top-button:hover .clone>* {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

#top-button:hover .text>* {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

#top-button:hover .clone> :nth-child(1) {
  transition-delay: 0.15s;
}

#top-button:hover .clone> :nth-child(2) {
  transition-delay: 0.2s;
}

#top-button:hover .clone> :nth-child(3) {
  transition-delay: 0.25s;
}

#top-button:hover .clone> :nth-child(4) {
  transition-delay: 0.3s;
}

/* icon style and hover */
#top-button svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

#top-button:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}


.carousle-divs
{
  flex-direction: column;
  height: 90vw;
  display: none;
}
.image-carousle{
  height: 60vw;
  /* width: 50vw; */
}
.image-carousle-div{
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousle-box{
width: 95%;
}


@media screen and (min-width: 1000px) {
  .time-line-container {
    font-size: calc(1.5vw - 6px);
  }
}
@media screen and (max-width: 600px) {
  *{
    /* overflow-x: hidden; */
    box-sizing: border-box;
  }
  .carousle-divs{
    display: block;
  }
  .time-line{
    display: none;
  }
  .link-more{
    width: fit-content;
    font-size: 3vw;
  }
  .contents-carousle{

  }
}

@media screen and (max-width: 420px) {
  .carousle-box{
    height: 92vw;
  }
  .image-text {
    text-align: center;
    font-size: 2.7vw;
  }

  .time-line-title {
    font-size: 2.2vw;
    text-align: center;
  }


  .content-paragraph{
    font-size: 3vw;
  }

  .time-line::before{
    display: none;
  }

  .right-pair-line::before {
    display: none;
  }

  .left-pair::after{
    display: none;
  }

  .link-more{
    font-size: 3vw;
  }
  
}