*{
    margin: 0;
    box-sizing: border-box;
}

.home-page-container{
    height: 100vh;  
   
}

.home-page-image{
    height: 45vw;   
    background-image: url('https://w0.peakpx.com/wallpaper/173/355/HD-wallpaper-just-married-married-people-happiness-love-man-woman-couple.jpg');
    background-position: inherit; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-text{
    font-family: 'Alkatra', cursive;
    font-size: 1rem;
    text-shadow: 0px 0px 100px rgb(50, 50, 50);
    color: white;
}
.image-text > h1{
    display: flex;
    justify-content: center;
}

.time-line{
height: 100vw;
width: 90vw;
background-color: rgb(254, 248, 240);

}
.time-line::before{
    content: '';
    display: block;
    position: relative;
    left: 50%;
    height: 100vw;
    width: 1px;
    background-color: rgb(61, 61, 61);
}
.time-line-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}
.time-line-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.boxes-father{
    display: grid;
    position: absolute;
    top: 120%;
    grid-template-columns: repeat(2,45vw);
    grid-template-rows: repeat(2,45vw);
}
.box-details{
    width: 40vw;
    height: 45vw;
    
}
.right-pair{
    margin-top: 15vw;
    display: flex;
    justify-content: flex-end;
}
.image-time-line{
    width: 40vw;
    height: 30vw;
}
.content-time-line{
    background-color: rgba(205, 187, 178, 0.765);
    border-style: solid;
    border-radius:10px ;
    margin-top: 1vw;
    margin-left: 1vw;
    height: fit-content;

}

.content-title{
    padding-left: 5px;
}

.content-paragraph{
    padding-left: 5px;
}

.button-link{
    display: flex;
    justify-content: end;
}


.link-more{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 5vw;
    height: 5vh;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-more:hover{
    background-color: rgb(254, 248, 240);
}

.image-couple{
    width: 8vw;
    height: 9vw;
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-us-section{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.about-us-content{
    width: 70vw;
    height: 10vw;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}