
.login-container {
    height: 100vw;
    width: 100vw;
    background-size: cover;
    background-image: url('./../assets/login10.avif');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-login{
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}
.inputs-login{
    display: flex;
    justify-content: space-around;
}
.login-input{
    width: 18vw;
}

.error-message{
  margin-bottom: 5vw;
  margin-left: 2.5vw;
  font-size: 1.1rem;
}
.button-login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-in-button{
    border-radius: 10px;
    margin-bottom: 1vw;
    height: 3vw;
    width: fit-content;
}
.sign-in-button {
    --primary-color: #8d926e;
    --secondary-color: #fff;
    --hover-color: #5c7059;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s ;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  .sign-in-button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sign-in-button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .sign-in-button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .sign-in-button:hover {
    background-color: var(--hover-color);
  }
  
  .sign-in-button:hover .arrow {
    background: var(--secondary-color);
  }
  
  .sign-in-button:hover .arrow:before {
    right: 0;
  }
.log-in-box{
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(26px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0,0 , 0.37);
    border: 1px solid rgba(255,255,255.0.18);
    border-radius: 32px;
    height: 25vw;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vw;
}

.form {
  width: 30vw;
  height: 35vw;
  background-color: white;
  padding: 3.125em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  position: relative;
  left: 6vw;
}


.signup-span {
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  display: block;
  font-size: 1vw;
  margin-bottom: 2vw;
}

.signup-link{
  display: flex;
  justify-content: center;
  margin-bottom: 5vw;
}

.form--input {
  width: 100%;
  margin-bottom: 1.25em;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.8em;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.form--input:focus {
  border: 1px solid #639;
  outline: none;
}

.form--marketing {
  display: flex;
  margin-bottom: 1.25em;
  align-items: center;
}

.form--marketing > input {
  margin-right: 0.625em;
}

.form--marketing > label {
  color: grey;
}

.checkbox, input[type="checkbox"] {
  accent-color: #639;
}

.form--submit {
  width: 50%;
  padding: 0.625em;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: 1px dashed #639;
  cursor: pointer;
}

.form--submit:hover {
  color: #639;
  background-color: white;
  border: 1px dashed #639;
  cursor: pointer;
  transition: 0.5s;
}
