* {
    margin: 0;
    box-sizing: border-box;
}

.packages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.first-package{
    width: 20vw;
    height: 30vw;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
    margin-top: 5vw;
    padding-left: 2vw ;
}